.packageCard{
    background-color: #f0f0f0;
    background-image: linear-gradient(to right, rgb(196, 241, 255), rgb(255, 255, 255));
    padding:10px;
    margin: 15px 0px 0px 0px;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    float: left;
    box-sizing: border-box;
    font-size:21px;
}
.packageTitle{
  color:white;
  padding:9px 9px 9px 15px;
  margin: -10px -10px 9px -10px;
  font-size:18px;
}

.offer-title{
  background-color: #1300bd8f;
}
.normal-title{
  background-color: #008da0;
}

.offer {
    background-color: skyblue;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(66, 154, 255));
}

  .offerTag{
    background-image: url('off.png');
    background-size:60px;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: center;
    color:#fff;
    -webkit-text-stroke: 0px #000;
    line-height: 0.75;
  }

  .selectTopUpType{
      background-color: white;
      padding:10px;
      font-size:large;
      outline:none
  }

  .createOrder_title{
    background-color: red;
    background-image: linear-gradient(to right, darkblue, skyblue);
    color: #fff;
    width: 100%;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
  }

  .inputField{
    outline:none;
    padding: 10px;
    margin-bottom: 7px;
    font-size: large;
    border-radius: 5px;
    border:1px solid gray;
  }

.capitalize {
    text-transform: uppercase;
}

.firstLetterUpper {
  text-transform: capitalize;
}

.enter_id_code{
  background: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
}

.header{
  background-color: #1940ff;
  padding: 20px;
  color: white;
}

.my_order_card{
  background-color: #f0f0f0;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  font-size:large;
  margin: 0px 10px 20px 10px;
}

.order_status{
  color:white;
  padding: 7px 8px 6px 8px;
  border-radius: 8px;
  font-weight:bold;
  font-size: 14px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  white-space: nowrap;
}
.navbar{
  padding: 8px;
  z-index: 100;
}

.createPackageButton{
  background-color: darkblue;
  color:white;
  border:0px;
  position: fixed;
  bottom:20px;
  right:15px;
  border-radius: 50px;
  width:65px;
  height: 65px;
  font-size: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.regular_package_card{
  background-color: #f0f0f0;
  background-image: linear-gradient(to right, rgb(219, 219, 219), white);
  color:#000;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  font-size:large;
  margin: 0px 10px 20px 10px;
}

.footer{
  background-color: rgb(34, 34, 34);
  clear:both;
  margin-bottom:-12px;
  color:white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}